.wrapp {
  position: fixed;
  display: block;
  width: 100%;
  height: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #82b74b;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

input[name='searchQuery'] {
  padding: 5px;
  border-radius: 7px;
  height: 25px;
}

button[type='submit'] {
  position: absolute;
  left: 178px;
  top: 4px;
  background-color: transparent;
  border: none;
}

.search-svg {
  display: block;
  margin-top: px;
}

button[type='submit']:hover .search-svg {
  fill: #82b74b;
}
